@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #172B4D;
    text-align: left;
    background-color: #fff;
    height: -webkit-fill-available;
}

header nav.navbar {
    background-color: rgb(67, 56, 129);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: box-shadow ease 0.5s;
}

header nav.navbar:hover {
        box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.12);
}


.btn-sm {
	color: rgb(67, 56, 129);
    padding: .25rem .5rem;
    font-size: 1.09375rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.landing-logo{
	width: 130px;
}

#hero {
    background: linear-gradient(135deg, #433881, #51468e);
    height: -webkit-fill-available;
}

.pt-7, .py-7 {
    padding-top: 7rem !important;
}

.pb-6, .py-6 {
    padding-bottom: 5rem !important;
}